body {
    width: 1000px;
    margin: auto;
    text-align: center;
    position: relative;
}

footer {
    position: table-row;
    height: 150px;
    bottom: 0;
    width: 1000px;
    border: 1px solid #00aeef;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

thead {
    font-weight: bolder;
    display: block;
}

tbody {
    height: 150px;
    overflow: auto;
    display: block;
}

.logo {
    width: 200px;
    float: left;
    margin-top: 60px;
    margin-left: 80px;
}

.banner {
    width: 600px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.header {
    height: 200px;
    border: 5px solid #00aeef;
}

.stop {
    width: 200px;
}

.code {
    width: 50px;
}

.time {
    width: 100px;
}

.fav {
    width: 100px;
}

.button-grey {
    background-color: #dfe5e4;
    border-radius: 15px;
}

.button-green {
    background-color: #46af00;
    border-radius: 15px;
}

#team {
    float: left;
    width: 110px;
    margin-left: 300px;
    text-align: left;
}

#mails {
    float: right;
    width: 110px;
    list-style: none;
    margin-right: 400px;
}


/* tableaux d'arrets et de passages*/

#stops-tab {
    width: 50%;
    margin-left: 50%;
}

#times-tab {
    width: 50%;
    margin-left: 50%;
    padding-top: 20px;
    display: none;
}

#times-tab table,
#times-tab thead td,
.test {
    width: 350px;
}

#times-tab table {
    height: 130px;
    width: 350px;
}


/*ouvre le tableau des passages lorsque l'on clic sur l'horaire*/

#times-tab:target {
    display: block;
}

#cross {
    float: right;
    text-decoration: none;
    color: black;
}


/*ferme le tableau des passages lorsque l'on clique sur la croix*/

#cross:target {
    display: none;
}


/* gestion du menu */

#menu-nav {
    overflow-y: auto;
    display: block;
    width: 40%;
    margin-left: 15px;
    margin-right: 10px;
    float: left;
    height: 500px;
}

.menu {
    padding-inline-start: 0;
}

.menu li {
    font-size: 30px;
    text-align: center;
    font-family: Times, serif;
    border: 1px solid black;
    background-color: #00aeef;
    list-style: none;
}

.submenu li {
    font-size: 20px;
    text-align: left;
    list-style: none;
    border: none;
}

.submenu {
    display: none;
    pointer-events: auto;
}

.menu li:focus {
    background-color: steelblue;
    outline: none;
    pointer-events: none;
}


/*ouvre le sous-menu au premier clic*/

.menu li:focus .submenu {
    display: block;
    background-color: white;
    border-top: 1px solid black;
}

.menu li:focus .submenu li {
    background-color: white;
}

.menu li > a {
    pointer-events: none;
    text-decoration: none;
    color: black;
}


/*ferme le sous-menu au deuxième clic*/

.menu li:focus {
    pointer-events: none;
}

.contact {
    text-align: center;
}

.hour {
    width: 350px;
    color: black;
}

.minutes {
    width: 350px;
    color: #00aeef;
}

#tabs-horaires {
    display: none;
}

#div-carte {
    display: block;
}

#mapid {
    height: 400px;
    margin-right: 15px;
}

.header {
    height: 200px;
    border: 5px solid #00aeef;
}

.stop {
    width: 200px;
}

.code {
    width: 50px;
}

.time {
    width: 100px;
}

.fav {
    width: 100px;
}

.hour {
    width: 350px;
    color: black;
}

.minutes {
    width: 350px;
    color: #00aeef;
}

.favoris-tab {
    width: 50%;
    margin-left: 53%;
    padding-top: 20px;
    display: block;
}

.favoris-tab table,
.favoris-tab thead td,
.test {
    width: 350px;
}

.favoris-tab table {
    height: 130px;
    width: 350px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
