body {
    width: 1000px;
}

.header {
    height: 300px;
}

.logo {
    width: 200px;
    float: left;
    padding-top: 50px;
}

.banniere {
    width: 600px;
    float: right;
}

.menu {
    list-style: none;
    overflow-y: auto;
    height: 100px;
    display: block;
}

.menu li:active .submenu{
    display: block;
}

.submenu {
    display: none;
}