body {
    width: 1000px;
}

.header {
    height: 300px;
}

.footer {
    float: bottom;
}

.logo {
    width: 200px;
    float: left;
    padding-top: 50px;
}

.banner {
    width: 600px;
    float: right;
}

#stops-tab {
    width: 50%;
    margin-left: 50%;
}

#times-tab {
    width: 50%;
    margin-left: 50%;
    padding-top: 20px;
    display: none;
}

#times-tab table, #times-tab thead td, .test {
    width: 350px;
}

#times-tab table {
    height: 130px;
}

/*ouvre le tableau des passages lorsque l'on clic sur l'horaire*/
#times-tab:target {
    display: block;
}

#cross {
    float: right;
    text-decoration: none;
    color: black;
}

/*ferme le tableau des passages lorsque l'on clique sur la croix*/
#cross:target {
    display: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

thead {
    font-weight: bolder;
    display: block;
}

tbody {
    height: 100px;
    overflow: auto;
    display: block;
}

.stop {
    width: 200px;
}

.code {
    width: 50px;
}

.time {
    width: 100px;
}

.fav {
    width: 100px;
}

#menu-nav {
    overflow-y: auto;
    display: block;
    width: 40%;
    margin-left: 50px;
    float: left;
    height: 300px;
}

.menu li {
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    background-color: #00aeef;
    list-style: none;
}

.submenu li {
    font-size: 20px;
    text-align: left;
    list-style: none;
    border: none;
}

.submenu {
    display: none;
    pointer-events: auto
}

.menu li:focus {
    background-color: #fee514;
    outline: none;
}

/*ouvre le sous-menu au premier clic*/
.menu li:focus .submenu {
    display: block;
    background-color: white;
    border-top: 1px solid black;
}

.menu li:focus .submenu li {
    background-color: white;
}

.menu li > a {
    pointer-events: none;
    text-decoration: none;
    color: black;
}

.menu li:focus {
    pointer-events: none;
}

.contact {
    text-align: center;
}